* {
    background: #3e3c3c;
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: #ffffff;
    font-size: 50px;
}
p{
    font-weight: 300;
    margin-top: 14px;
    color: #ffffff;
    text-align: justify;
}

.contenedor {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

nav {
    width: 100%;
    height: 80px;
    background: #4d4949;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgb(255, 0, 0);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    background: #3e3c3c;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.nav .logo {
    height: 80px;
}

.nav .logo img {
    height: 80px;
}

.nav .enlaces_header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
    
}

.contenido_header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto_perfil {
    height: 300px;
    width: 200px;
}

footer{
    background: rgb(70, 70, 70);
    padding: 50px o 20px 0; 
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 22%;
    text-align: center;   
}
.partFooter img{
    width: 60%;
}
.partFooter h4{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px; 
    background-color: #d03d3d;
    border-radius: 5px;
    border: 1px solid #d03d3d;
    padding: 5px;
}
.contact{
     margin: 10px; 
    display: block;
    text-align: left;
}
.contact > i{
    float: left; 
    margin: 0px 0px 0px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 50%; 
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;
}
.contact > p{
    margin-left: 50px;
    align-items: center;
    line-height: 28px;
    font-weight: 500;
    color: white;
}
.partFooter > a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}
.partFooter > a:hover{
    background-color: #d03d3d;
    transition: all ease-in-out .6s;
    border-radius: 5px;
}
.social-media > a > i{
    font-size: 23px;
    color: white;
    display: inline-block; 
    border: 2px solid white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    margin-top: 10px;
    text-align: center;
    margin-right: 5px;
    transition: all ease-in-out.6s;
}
.social-media > a > i:hover{
    background-color: #d03d3d;
    border-color: #d03d3d;
}